* {
    font-family: 'Roboto', sans-serif;
}

body {
    padding-bottom: 3rem;
    color: #5a5a5a;
}

#logo {
    width: 12.5rem; 
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.featurette-divider {
    margin: 5rem 0;
}

.rounded-circle {
    margin-bottom: 1em !important;
}

.tituloGrupos {
    margin-bottom: 2em !important;
}

.whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
}

@media (max-width: 576px) {
    #grupoConvenios {
        width: 90% !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #grupoConvenios {
        width: 90% !important;
    }
}